<%- include ("../../../partials/header", { title: "Login - E-Banking" }) -%>

<div class="login-page sidebar-collapse">
    <%- include ("../../../partials/navbar") %>

    <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card">
                        <form class="form" method="POST">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title mb-2">Find your account</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">account_circle</i>
                                                </span>
                                            </div>
                                            <input autofocus type="text" id="data" name="data" class="form-control" placeholder="Email/Username/CardID" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" style="display: inherit;">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Find</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6">
                    <% if (errors != null) { %>
                    <!-- Notification -->
                    <% errors.forEach(err => { %>
                    <div class="alert alert-danger">
                        <div class="container">
                            <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                            <b>Error Alert:</b> <%= err.msg %>
                        </div>
                    </div>
                    <% }); %>
                    <!-- End Notification -->
                    <% } %>
                </div>
            </div>
        </div>

        <%- include ("../../../partials/footer") -%>
    </div>
</div>

<%- include ("../../../partials/scripts") -%>
