<%- include ("../../partials/header") -%>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    async function send1(id)
    {
        try{
            const asss = await fetch(`http://localhost:3000/saving/test/1`,
            {
                method:"POST",
                headers : {"Content-Type":"application/json"},  
                body:JSON.stringify({khai:"id"}),
            })
            // location.reload();
        } catch (error) {
            
            console.error(error.message)
        }
    }
    function send2(id)
    {
        window.location='http://localhost:3000/saving/listSaving/'+id;
    }
    
</script>
<%
dateTimeToDate = function (today,species)
    {
        var sc = String(today.getSeconds()).padStart(2, '0');
        var m  = String(today.getMinutes()).padStart(2, '0');
        var h  = String(today.getHours()).padStart(2, '0');
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        
        var date = mm + '/' + dd + '/' + yyyy;
        var datetime = mm + '/' + dd + '/' + yyyy +"   "+h+":"+m+":"+sc;
        if(species==0)
        {
            return date;
        }
        if(species==1)
        {
            return datetime;
        }
        return datetime;
    }
%>
<section class="blog_part section_padding section_transaction list-saving row">
<<<<<<< HEAD
    <div class="container container_transaction1 col-4">
=======
   
    <div class="container container_transaction1 col-6">
>>>>>>> merge-react
        <div class="modal-header">
            <p class="heading lead">Tài khoản tiết kiệm </p>
        </div>

<<<<<<< HEAD
        <% if(saving) {%>
            <% saving.forEach(function(x) {  %>
                <div id=<%=x.id  %> onclick="send2(this.id)" class="card-header bg-transparent savingItem">
                    <span><i class="fas fa-id-badge mr-3 text-success "></i><span class="mr-2">So tien :</span> <a href="#" class="alert-link"><%= x.fund%></a> </span>
                    <span class="float-right" ><%= dateTimeToDate(x.closeDate,0) %></span>
                </div>
            <% });%>
        <%}%> 
        <!-- <div onclick="send2()"  class="alert border-light mb-3" role="alert"> 
            <div id="savingItem" class="card-header bg-transparent savingItem">
                <span><i class="fas fa-id-badge mr-3 text-success "></i><span class="mr-2">So tien :</span> <a href="#" class="alert-link">1.000.000</a> </span>
                <span class="float-right" >10/10/20200</span>
            </div>
      
            <div class="card-header bg-transparent">
                <i class="fas fa-id-badge mr-3 text-success "></i><span class="mr-2">So tien :</span> <a href="#" class="alert-link">1.000.000</a> <span class="float-right" >10/10/2020</span>
            </div>
            
        </div> -->
=======
        <div class=" p-4 transaction_profile listsaving mt-2">
            <div class="itemInformation">
                <div class="task-profile-saving">
                    <p><i class="fas fa-address-card"></i>Số tài khoản  </p> 
                </div>
                  <span><%= account.accountNumber %></span>
            </div>
            <div class="itemInformation">
                <div class="task-profile-saving">
                    <p><i class="fas fa-dollar-sign"></i>Số tiền khả dụng  </p> 
                </div>
                <span><% var rs=accountNew.balance.toString();          
                    const formatter= new Intl.NumberFormat('de-DE', {
                      currency: 'VND',
                      minimumFractionDigits: 2
                    })
                    rs = formatter.format(rs) %> <%= rs%> VND</span>
            </div>
            <div class="itemInformation">
                <div class="task-profile-saving">
                    <p><i class="fa fa-money" aria-hidden="true"></i></i>Số tiền TKTK  </p> 
                </div>
                <span><% var rs=fund.toString();          
                    const formatter1= new Intl.NumberFormat('de-DE', {
                        currency: 'VND',
                        minimumFractionDigits: 2
                    })
                    rs = formatter1.format(rs) %> <%= rs%> VND</span>
            </div>
        </div>
        <div class="mt-5">
            <% if(saving) {%>
                <% saving.forEach(function(x) {  %>
                    <div id=<%=x.id  %> onclick="send2(this.id)" class="card-header bg-transparent savingItem">
                        <span><i class="fas fa-id-badge mr-3 text-success "></i><span class="mr-2">So tien :</span> <a href="#" class="alert-link"><%= x.fund%></a> </span>
                        <span class="float-right" ><%= dateTimeToDate(x.closeDate,0) %></span>
                    </div>
                <% });%>
            <%}%> 
        </div>
        
>>>>>>> merge-react
        <form method="GET" class="mt-4 ">
            <div class="form-group text-right"> 
                <a href="saving/addSaving" type="submit" class="btn btn-primary">Them TKTK</a>
            </div><br>
        </form>
    </div>
</section>

<%- include ("../../partials/footer") -%></form>