<%- include ("../../partials/header") -%>

<section class="blog_part section_padding section_transaction">
  <div class="container container_transaction">
    <div class=" p-4 transaction_profile">

      <div class="task-profile">
        <p><i class="fas fa-address-card"></i>Số tài khoản : <span><%= account.accountNumber %></span></p>
      </div>
      <div class="task-profile">
        <p><i class="fas fa-dollar-sign"></i></i>Số dư : <span><% var rs=account.balance.toString();          
        const formatter= new Intl.NumberFormat('de-DE', {
          currency: 'VND',
          minimumFractionDigits: 2
        })
        rs = formatter.format(rs) %> <%= rs%> VND</span></p>
      </div>
      <div class="task-profile">
        <p><i class="fas fa-dollar-sign"></i></i>Số dư TKTK: <span><% var rs=account.balanceSaving.toString();          
        const formatter1= new Intl.NumberFormat('de-DE', {
          currency: 'VND',
          minimumFractionDigits: 2
        })
        rs = formatter1.format(rs) %> <%= rs%> VND</span></p>
      </div>
    </div>
    <form method="POST" class="mt-4">
      <div class="form-group mb-3 ">
        <label for="formGroupExampleInput">Kỳ hạn gửi</label>
        <select name="depositTerm" class="custom-select" id="inputGroupSelect02">
          <option selected value="2">1 Month</option>
          <option value="3">3 Month</option>
          <option value="4">6 Month</option>
          <option value="5">9 Month</option>
          <option value="6">12 Month</option>
          <option value="7">24 Month</option>
        </select>

      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Số tiền gửi</label>
        <input name="amountSaving" type="number" class="form-control" id="formGroupExampleInput2" placeholder="Tối thiểu 3.000.000">
      </div>
      <div class="form-group mb-3 ">
        <label for="formGroupExampleInput">Hình thức trả lãi</label>
        <select name="HinhThuc" class="custom-select" id="inputGroupSelect02">
          <option selected value="2">Lãi nhập gốc</option>
          <option value="3">3Lãi trả vào TK tiền gửi thanh toán khi đến hạn trả lãi</option>
        </select>

      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Ghi chú</label>
        <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. <br/>
            Donec sed odio operae, eu vulputate felis rhoncus.<br/>
           Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. <br/>
          Cras mattis iudicium purus sit amet fermentum.</p>
      </div>
      <div class="form-group  text-right">
        <button type="button"  class="btn btn-primary  mr-3">Hủy</button>
        <button type="submit" class="btn btn-primary">Tiếp tục</button>
      </div><br>
    </form>
  </div>
</section>

<%- include ("../../partials/footer") -%></form>