<div class="col-lg-6">
    <div class="card card-nav-tabs">
        <div class="card-header card-header-primary">
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#all" data-toggle="tab">
                                <i class="material-icons">dehaze</i>
                                All
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#send" data-toggle="tab">
                                <i class="material-icons">south_west</i>
                                Send
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#recive" data-toggle="tab">
                                <i class="material-icons">north_east</i>
                                Recive
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="all">
                    <div class="row">
                        <div class="col-md-2">
                            <label>ID</label>
                        </div>
                        <div class="col-md-2">
                            <label>Amount</label>
                        </div>
                        <div class="col-md-3">
                            <label>From</label>
                        </div>
                        <div class="col-md-3">
                            <label>To</label>
                        </div>
                        <div class="col-md-2">
                            <label>Time</label>
                        </div>
                    </div>
                    <!-- For here-->
                    <% if (transactions) { %>
                    <!-- Divider -->
                    <% transactions.forEach(tran => { %>
                    <div class="row">
                        <div class="col-md-2">
                            <p class="h4">****<%= tran.transactionID.slice(-7, -1) %></p>
                        </div>
                        <div class="col-md-2">
                            <p class="h4">
                                <%= tran.amount %>
                                <small class="muted-text">VND</small>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4"><%= tran.accountNumber %></p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4"><%= tran.beneficiaryAccount %></p>
                        </div>
                        <div class="col-md-2">
                            <p class="h4"><%= new Date(tran.createdAt).toUTCString(); %></p>
                        </div>
                    </div>
                    <% }); } %>

                    <!-- End For here-->
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <p class="h4">123123412413</p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4">
                                500.000
                                <small class="muted-text">VND</small>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4">9704 5902 2341 4235</p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4">14:50 - 1 Jul, 2020</p>
                        </div>
                    </div> -->
                </div>
                <div class="tab-pane" id="send">
                    <div class="row">
                        <div class="col-md-3">
                            <label>ID</label>
                        </div>
                        <div class="col-md-3">
                            <label>Amount</label>
                        </div>
                        <div class="col-md-3">
                            <label>To</label>
                        </div>
                        <div class="col-md-3">
                            <label>Time</label>
                        </div>
                    </div>
                    <!-- For here-->
                    <% if (transactions) { %>
                    <!-- Divider -->
                    <% transactions.forEach(tran => { %>
                    <!-- Divider -->
                    <% if (tran.accountNumber === user.accountNumber) { %>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="h4">****<%= tran.transactionID.slice(-7, -1) %></p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4">
                                <%= tran.amount %>
                                <small class="muted-text">VND</small>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4"><%= tran.beneficiaryAccount %></p>
                        </div>
                        <div class="col-md-3">
                            <p class="h4"><%= new Date(tran.createdAt).toUTCString() %></p>
                        </div>
                    </div>
                    <% }}); } %>
                    <!-- End For here-->
                </div>
                <div class="tab-pane" id="recive">
                    <div class="row">
                        <div class="col-md-3">
                            <label>ID</label>
                        </div>
                        <div class="col-md-3">
                            <label>Amount</label>
                        </div>
                        <div class="col-md-3">
                            <label>From</label>
                        </div>
                        <div class="col-md-3">
                            <label>Time</label>
                        </div>
                    </div>
                    <!-- For here-->
                    <% if (transactions) { %>
                        <!-- Divider -->
                        <% transactions.forEach(tran => { %>
                        <!-- Divider -->
                        <% if (tran.beneficiaryAccount === user.accountNumber) { %>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="h4">****<%= tran.transactionID.slice(-7, -1) %></p>
                            </div>
                            <div class="col-md-3">
                                <p class="h4">
                                    <%= tran.amount %>
                                    <small class="muted-text">VND</small>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p class="h4"><%= tran.accountNumber %></p>
                            </div>
                            <div class="col-md-3">
                                <p class="h4"><%= new Date(tran.createdAt).toUTCString() %></p>
                            </div>
                        </div>
                        <% }}); } %>
                    <!-- End For here-->
                </div>
            </div>
        </div>
    </div>
</div>
