<%- include ("../../partials/header", { title: currentUser.displayName }) -%>
<%- include ("../../partials/navbar") %>
<%- include ("../../partials/title", { maintitle: 'Management', subtitle: 'Staff: ' + currentUser.displayName }) %>

<div class="row justify-content-center my-5">
    <div class="col-md-10">
        <!-- Users -->
        <% if (user) { %>
        <div class="row justify-content-center my-5">
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= user.displayName %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= user.username %></h6>
                        <p class="card-text">Email: <%= user.email %></p>
                        <p class="card-text">Status: <%= account.status %></p>
                        <% if (account.status === 'LOCKED') { %>
                        <a href="/admin/users/<%= user.id %>/lock" class="card-link">Unlock</a>
                        <% } else if (account.status === 'ACTIVE') { %>
                        <a href="/admin/users/<%= user.id %>/lock" class="card-link">Lock</a>
                        <% } %>
                        <a href="/admin/users/<%= user.id %>/transaction" class="card-link">Transaction</a>
                        <a href="/admin/users/<%= user.id %>/modify" class="card-link">Modify</a>
                    </div>
                </div>
            </div>
        </div>
        <% if (account.status === 'PENDING' || account.status === 'DENIED') { %>
        <div class="row justify-content-center my-5">
            <div class="card mb-3">
                <img src="/uploads/<%= user.idCardPhoto %>" class="card-img-top" alt="<%= user.idCardPhoto %>">
                <div class="card-body">
                    <a href="/admin/users/<%= user.id %>/verify-accept" class="btn btn-primary">Accept</a>
                    <a href="/admin/users/<%= user.id %>/verify-deny" class="btn btn-danger">Deny</a>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
        <div class="row my-3 justify-content-end">
            <div class="col-4">
                <a class="btn btn-light" href="/admin/users" role="button">Back</a>
            </div>
        </div>
        <!-- End Users -->
    </div>
</div>

<%- include ("../../partials/footer") -%>