<%- include ("../../partials/header", { title: "Login - E-Banking" }) -%>

<div class="login-page sidebar-collapse">
    <%- include ("../../partials/navbar") %>

    <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" method="POST">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title"><%= currentUser ? "Recover Account" : "Change Password" %></h4>
                                <h5 class="h5"><%= currentUser ? currentUser.username : "---" %></h5>
                            </div>
                            <div class="card-body">
                                <!-- Main section -->
                                <% if (!signal) { %>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">vpn_key</i>
                                        </span>
                                    </div>
                                    <input name="currentPassword" type="password" class="form-control" placeholder="Current Password" />
                                </div>
                            <% } %>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">vpn_key</i>
                                        </span>
                                    </div>
                                    <input name="newPassword" type="password" class="form-control" placeholder="New Password" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">vpn_key</i>
                                        </span>
                                    </div>
                                    <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm New Password" />
                                </div>
                                <!-- End Main section -->
                            </div>
                            <div class="footer text-center">
                                <a href="/" class="btn btn-primary btn-link btn-wd btn-lg">Cancel</a>
                                <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6">
                    <% if (errors != null) { %>
                    <!-- Notification -->
                    <% errors.forEach(err => { %>
                    <div class="alert alert-danger">
                        <div class="container">
                            <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                            <b>Error Alert:</b> <%= err.msg %>
                        </div>
                    </div>
                    <% }); %>
                    <!-- End Notification -->
                    <% } %>
                </div>
            </div>
        </div>

        <%- include ("../../partials/footer") -%>
    </div>
</div>

<%- include ("../../partials/scripts") -%>
