<%- include ("../../partials/header", { title: "Login - E-Banking" }) -%>

<div class="profile-page sidebar-collapse">
    <%- include ("../../partials/navbar") %>

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <!-- My custom-->
            <div class="container-fluid">
                <div class="row tab-space">
                    <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                        <div class="card">
                            <form class="form" method="POST" enctype="multipart/form-data">
                                <div class="card-header card-header-primary text-center">
                                    <h4 class="card-title mb-2">Verify Account</h4>
                                </div>
                                <% if (currentUser) { %>
                                <!-- Devider -->
                                <% if (currentUser.status === "PENDING" || currentUser.status === "UNVERIFIED") { %>
                                <div class="card-body">
                                    <div class="input-group">
                                        <input type="file" name="image" class="form-control" placeholder="Select your ID card image" />
                                    </div>

                                    <!-- <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="image">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div> -->
                                </div>
                                <div class="card-footer text-center" style="display: inherit;">
                                    <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Confirm</button>
                                </div>
                                <% } else { %>
                                <div class="card-body text-center">
                                    <p class="h4">Your account is verifed.</p>
                                </div>
                                <% } %>
                                <!-- Devider -->
                                <% } %>
                            </form>
                        </div>

                        <% if (errors != null) { %>
                        <!-- Notification -->
                        <% errors.forEach(err => { %>
                        <div class="alert alert-danger">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="material-icons">error_outline</i>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                </button>
                                <b>Error Alert:</b> <%= err.msg %>
                            </div>
                        </div>
                        <% }); %>
                        <!-- End Notification -->
                        <% } %>

                        <div class="card">
                            <img class="card-img-top" src="<%= currentUser.idCardPhoto ? currentUser.idCardPhoto : "https://www.generationsforpeace.org/wp-content/uploads/2018/03/empty.jpg" %>" rel="nofollow" alt="Card image cap" />
                            <div class="card-body">
                                <div class="row justify-content-end">
                                    <div class="col-">
                                        <a href="/home" class="btn btn-primary btn-md">Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End My custom-->
        </div>
    </div>
</div>

<%- include ("../../partials/scripts") -%>
