<%- include ("../../partials/header") -%>

<section class="blog_part section_padding section_transaction">
    <!-- <div class="container container_transaction">
    
  </div> -->
    <div class="containter">
        <div class="row justify-content-center my-5">
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-">
                        <form method="POST" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                   aria-label="Search" name="search" id="search">
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                    type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <!-- Users -->
                <% if (users) { %>
                <div class="row justify-content-center my-5">
                    <div class="col-6">
                        <div class="list-group">
                            <% users.forEach(user => { %>

                            <a href="/admin/users/<%= user.userId %>"
                               class="list-group-item list-group-item-action">
                                <%= user.displayName %>
                                <%= user.accountNumber %>
                            </a>

                            <% }); %>
                        </div>
                    </div>
                </div>
                <% } %>
                <!-- End Users -->

            </div>
        </div>
    </div>
</section>

<%- include ("../../partials/footer") -%>